.filterTab{
    min-height: 30vh;
    width: 100%;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    max-width: 70%;
    margin: auto;
    flex-direction: column;
    height: auto;
    justify-content: left;
    align-items: start;
}

h4 {
    margin-top: 10px;
    font-size: 20px;
    word-break: break-all;
}

a:link { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: underline; color: #404132;}
a:active { text-decoration: underline; color: #404132;}

image{
    padding-top: 100%;
    display: block;

}
.row {
    margin: 10px -16px; 
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 30px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 300px;
    display: none; 
    /* margin-bottom: 100px; */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #dcd7a0;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    font-size: large;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}
/* #dcd7a0 */
/* #f9e076 */
